body{
    background-color: #dee9ff;
}

.formulaire{
	padding: 10px 0;
}

.formulaire form{
    background-color: #fff;
    max-width: 1000px;
    margin: auto;
    padding: 50px 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.formulaire .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.formulaire .item{
	border-radius: 20px;
    margin-bottom: 25px;
   padding: 10px 20px;
}

.formulaire .validate{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}


@media (max-width: 576px) {
    .formulaire form{
        padding: 50px 20px;
    }

    .formulaire .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}
p{
    font-size:15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
