@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{ 
  position: relative;
  max-width: 650px;
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form{
  margin: 15px 0 12px 0;
}
.wrapper form .userDet {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between ;
}
.message {
    margin: 5px auto;
    color : white ;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    background-color: rgb(237 46 46 / 73%);
    font-size: 20px;
    text-align : center;
}
.wrapper form .input-box{
    height: 45px;
    margin: 18px 0;
}

.wrapper form .input-box{
width: calc( 50% - 20px);
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background:   rgb(61 88 131);
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
h4{
  color: grey;
  font-family: 'Poppins', sans-serif;

}
h2:hover{
  color: #333;
  display: auto;
}
.userDet .stage {
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-between ;
}
.popup{
  background : rgba(0 , 0 , 0 , 0.6);
  width : 100% ; 
  min-height : 100% ; 
  position : absolute ; 
  top : 0 ; 
  left : 0 ; 
  display : none ; 
  justify-content: center ;
  align-items : center ; 
  padding : 50px ; 
}
.popup-div{
  position : relative ; 
  width : 100% ;
  
}

.popup .popup-content {
  width : 500px ; 
  height : 250px ; 
  background : #fff ; 
  padding: 20px;
  border-radius : 5px ; 
  position : relative ; 
  text-align: center;
}
.popup-content textarea{
  margin : 10px auto ; 
  border: 1px solid #ccc;
  resize: none;
  min-height: 100px;
}
.popup .popup-content .why {
  width : 50px ; 
  margin : auto ; 

}
.close {
  position : absolute ; 
  top : -15px ; 
  right : -15px ; 
  background : #fff ; 
  height : 20px ; 
  width : 20px ; 
  border-radius : 50% ; 
  box-shadow: 6px 6px 29px -4px rgba(0 , 0 , 0 , 0.75);
  cursor: pointer;
}